<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Der Kuss</title>
    <link rel="stylesheet" href="/css/derkuss.css">
</head>
<body>

    <header>
        <div id="title">
            <h1>Vivarte</h1>
        </div>

        <ul>
            <a href="/" id="link"><li>Início</li></a>
            <a href="http://localhost:3000/auth/register" id="link"><li>Criar conta</li></a>
            <a href="http://localhost:3000/auth/login" id="link"><li>Login</li></a>
            <a href="http://localhost:3000/pedidos" id="link"><li>Pedir uma obra</li></a>
        </ul>
    </header>


    <section class="about">
        <div class="main">
            <img src="/img/<%=pedidoadm.imagemObra%>">
            <div class="about-text">
                <h1><%=pedidoadm.nome%></h1>
                <h5><%=pedidoadm.nomeDoArtista%></span></h5>
                <p><%=pedidoadm.texto%></p>
            </div>
        </div>
    </section>
</body>
</html>