<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Vivarte</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>Vivarte</h1>
        </div>

        <ul>
            <a href="http://localhost:3000/auth/register" id="link"><li>Criar conta</li></a>
            <a href="http://localhost:3000/auth/login" id="link"><li>Login</li></a>
            <a href="http://localhost:3000/pedidos" id="link"><li>Pedir uma obra</li></a>
            <a href="http://localhost:3000/acervo" id="link"><li>Acervo</li></a>
        </ul>
    </header>

    <main>
        <aside>
            <h2>O que é o</h2>
            <h2 class="vivarte">Vivarte?</h2>
            <p>O Vivarte é um site que permite que qualquer pessoa interessada aprenda o significado
                das obras de arte, seu objetivo é tirar aquele pensamento retrógrado de que "hoje em dia
                qualquer coisa é arte", explicando toda a obra, desde seu significado, até sua história.
                <br><br>
                Na página "Acervo", você encontrará um estoque de obras, todas com seus dados disponíveis para estudo.
                Caso você não ache alguma que desejava, é possível criar uma conta e efetuar pedidos de obras, quando 
                pudermos, iremos disponibilizá-la no acervo.
            </p>
        </aside>

        <article id="divimg">
            <img src="/img/JohannesVermeer.png" alt="mulher-com-brinco-de-perola">
        </article>
    </main>
</body>
</html>