<!-- Form Handling -->
<form action="/api/pedidos" method="POST" id="adc_pedido">
    <div class="novo_pedido">
        <div class="form-group">
            <label for="nome" class="text-light">Nome</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="nome" value="" placeholder="Nome da obra">
        </div>

        <div class="form-group">
            <label for="nomeDoArtista" class="text-light">Artista</label>
            <input type="text" name="nomeDoArtista" value="" placeholder="Nome do criador da obra">
        </div>

        <div class="form-group select">
            <select name="tipo">
                <option selected disabled>Selecione um tipo</option>
                <option value="Pintura">Pintura</option>
                <option value="Gravura">Gravura</option>
                <option value="desenho">Desenho</option>
                <option value="Escultura">Escultura</option>
                <option value="Cerâmica">Cerâmica</option>
                <option value="Fotografia">Fotografia</option>
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Salvar</button>
        </div>
    </div>
</form>