<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <div id="title">
                <h1>Vivarte</h1>
            </div>
    
            <ul>
                <a href="/" id="link"><li>Início</li></a>
                <a href="http://localhost:3000/auth/register" id="link"><li>Criar conta</li></a>
                <a href="http://localhost:3000/auth/login" id="link"><li>Login</li></a>
                <a href="http://localhost:3000/acervo" id="link"><li>Acervo</li></a>
            </ul>
        </header>
    <!-- /Header -->